@helper MenuUsuario()
{
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
                @{
                    CencosudCSCWEBMVC.Models.TO.Usuario usuarioLogado
                        = CencosudCSCWEBMVC.Controllers.SegurancaController.UsuarioLogado;
                    if (usuarioLogado != null)
                    {
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user fa-fw visible-xs" style="margin-top: 3.4px; margin-left: 5px; margin-bottom: 2.2px;"></i>
                            <span class="hidden-xs">@usuarioLogado.NOME</span>
                        </a>
                    }
                }
                <ul class="menu-usuario dropdown-menu">
                    <li class="user-menu">
                        <a href="~/Seguranca/PerfilUsuario">
                            <i class="fa fa-user fa-fw"></i>
                            Perfil
                        </a>
                    </li>
                    @*<li>
                        <a href="~/Account/Logout">
                            <i class="fa fa-sign-out fa-fw"></i>
                            Sair
                        </a>
                    </li>*@
                </ul>
            </li>
        </ul>
    </div>
}
