@{
    ViewBag.Title = "Atendimento";
}

@section head{
    <link href="/Content/custom/preenchimento.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <div id="dvTabelaFormularios" class="box">
            <div id="dvPrincipal" class="box-body box-body-formulario">

            </div>
        </div>
        <div id="dvTabelaPrincipal" class="box" style="display:none;">
            <div class="box-body">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row" style="margin-bottom: 0px !important;">
                            <div class="form-group col-lg-3">
                                <label>Data Inicial:</label>
                                <input id="dataInicialFiltro" readonly="readonly" class="form-control data-filtro" placeholder="Informe a data">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Data Final:</label>
                                <input id="dataFinalFiltro" readonly="readonly" class="form-control data-filtro" placeholder="Informe a data">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Status:</label>
                                <select id="statusFiltro" class="form-control">
                                    <option value="T">Todos</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label>ID.:</label>
                                <input id="idBuscaPreenchimento" class="form-control">
                            </div>
                        </div>
                        <div id="dvCamposDinamicosFiltro" class="row" style="margin-bottom: 0px !important;">
                            
                        </div>
                        <div style="margin: 0 0 1em 0;overflow: hidden; text-align:right;">
                            <button id="btnFiltrar" class="btn btn-sm btn-primary" style="margin-right:5px;" type="button">
                                <i class="glyphicon glyphicon-plus visible-xs"></i>
                                <label class="hidden-xs" style="margin:0px;">Filtrar</label>
                            </button>
                            <button id="btnLimparFiltro" class="btn btn-sm btn-primary" type="button">
                                <i class="glyphicon glyphicon-plus visible-xs"></i>
                                <label class="hidden-xs" style="margin:0px;">Limpar</label>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-body">
                        <div style="margin: 0 0 1em 0;overflow: hidden; text-align:left;">
                            <button id="btnAtender" class="btn btn-sm btn-primary" style="margin-right: 10px;" type="button">
                                <i class="glyphicon glyphicon-plus visible-xs"></i>
                                <label class="hidden-xs" style="margin:0px;">Atender</label>
                            </button>
                            <button id="btnExportarExcel" class="btn btn-sm btn-primary" type="button">
                                <i class="fa fa-file-excel-o visible-xs"></i>
                                <i class="fa fa-file-excel-o hidden-xs"></i>
                                <label class="hidden-xs" style="margin:0px;">&nbsp;&nbsp;Exportar para Excel</label>
                            </button>
                        </div>
                        <div id="dvPaiTabela" class="dataTable_wrapper">

                        </div>
                        <div class="form-group col-lg-12" style="text-align:right;">
                            <button id="btnVoltar" class="btn btn-sm btn-primary" type="button">
                                <i class="glyphicon glyphicon-remove visible-xs"></i>
                                <label class="hidden-xs" style="margin:0px;">Voltar</label>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dvFormCadastro" class="box" style="display:none;">
            <div class="box-body">
                <form id="formCadastro" action="#" class="row">
                    <div id="dvComponentesDinamicos"></div>
                    <div class="form-group col-lg-12" style="text-align:right;">
                        <button id="btnSalvar" class="btn btn-sm btn-success" style="margin-right:5px;" type="button">
                            <i class="glyphicon glyphicon-floppy-disk visible-xs"></i>
                            <label class="hidden-xs" style="margin:0px;">Salvar</label>
                        </button>
                        <button id="btnCancelar" class="btn btn-sm btn-danger" type="button">
                            <i class="glyphicon glyphicon-remove visible-xs"></i>
                            <label class="hidden-xs" style="margin:0px;">Cancelar</label>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="@Url.Content("~/Scripts/custom/preenchimento.js")"></script>
}